name: Django CI (Docker)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Build Docker images
        run: docker compose build

      - name: Run django checks
        run: docker compose run --rm django_app python manage.py check

      - name: Login to Docker Hub
	uses: docker/login-action@v3
	with:
	  username: ${{secrets.DOCKERHUB_USERNAME }}
	  password: ${{secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push Django image
	run:
	  docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/django-notes-app:${{ github.sha }} .
	  docker push ${{ secrets.DOCKERHUB_USERNAME }}/django-notes-app:${{ github.sha }}

      - name: Stop containers
        run: docker compose down
